@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color palette */
  --primary-color: #1e86e9;
  --secondary-color: #ffca69;
  --accent-color: #74e3fe;
  --white-color: #fffcf4;
  --neutral-color: #303030;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
}

p {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

.screen {
  @apply min-h-screen flex flex-col items-center;
}

.content {
  @apply flex-1 flex flex-col items-center justify-center;
}

.field {
  @apply flex flex-col gap-2 justify-center text-center;
}

input {
  @apply outline outline-2 outline-[var(--secondary-color)] rounded-full py-1 px-4;
}